interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://mangapill.com/quick-search?q=chainsaw-man
  response:
    content: "\n    <div class=\"grid gap-3\">\n        \n            <a class=\"grid-cols-1
      bg-card rounded p-3\" href=\"/manga/723/chainsaw-man\">\n                <div
      class=\"flex\">\n                    <div class=\"flex-none h-20 w-20\">\n                        <img
      class=\"h-full w-full lazy object-cover rounded\" src=\"https://cdn.readdetectiveconan.com/file/mangapill/i/723.jpeg\"
      loading=\"lazy\">\n                    </div>\n                    <div class=\"ml-3\">\n
      \                       <div class=\"flex flex-col items-start\">\n                            <div
      class=\"font-black\">Chainsaw Man</div>\n                            <div class=\"text-sm
      text-secondary\"></div>\n                            <div class=\"flex flex-wrap
      gap-3 mt-1 text-xs text-secondary\">\n                                <div class=\"\">manga</div>\n
      \                               <div class=\"\">2018</div>\n                                <div
      class=\"\">publishing</div>\n                            </div>\n                        </div>\n
      \                   </div>\n                </div> \n            </a>\n        \n
      \           <a class=\"grid-cols-1 bg-card rounded p-3\" href=\"/manga/5866/chainsaw-man-digital-colored-comics\">\n
      \               <div class=\"flex\">\n                    <div class=\"flex-none
      h-20 w-20\">\n                        <img class=\"h-full w-full lazy object-cover
      rounded\" src=\"https://cdn.readdetectiveconan.com/file/mangapill/i/5866.jpeg\"
      loading=\"lazy\">\n                    </div>\n                    <div class=\"ml-3\">\n
      \                       <div class=\"flex flex-col items-start\">\n                            <div
      class=\"font-black\">Chainsaw Man - Digital Colored Comics</div>\n                            <div
      class=\"text-sm text-secondary\"></div>\n                    [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://mangapill.com/manga/723/chainsaw-man
  response:
    content: "\n    <!DOCTYPE html>\n<html lang=\"en\" class=\"light\">\n<head>\n<meta
      charset=\"utf-8\">\n<title>Chainsaw Man Manga - Mangapill</title>\n<meta name=\"viewport\"
      content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n<meta name=\"google-site-verification\"
      content=\"TcMX33ZE4j94dsbIPBpQdv4Tzfd5xrmiNFBBUMuqfeQ\" />\n<meta property=\"og:title\"
      content=\"Chainsaw Man Manga - Mangapill\">\n<meta property=\"twitter:title\"
      content=\"Chainsaw Man Manga - Mangapill\">\n<meta name=\"description\" content=\"Meet
      Denji, he&#39;s poor. Like, sell your body parts poor. But he&#39;s found a
      gig killing demons with his chainsaw dog. Will it be enough to pay the bills?\">\n<meta
      property=\"twitter:image\" content=\"https://cdn.readdetectiveconan.com/file/mangapill/i/723.jpeg\">\n<meta
      property=\"og:image\" content=\"https://cdn.readdetectiveconan.com/file/mangapill/i/723.jpeg\">\n<link
      rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"/static/favicon/apple-touch-icon.png\">\n<link
      rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"/static/favicon/favicon-32x32.png\">\n<link
      rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"/static/favicon/favicon-16x16.png\">\n<link
      rel=\"manifest\" href=\"/static/favicon/site.webmanifest\">\n<link rel=\"shortcut
      icon\" href=\"/static/favicon/favicon.ico\">\n<script type=\"text/javascript\">\n
      \       if (localStorage.theme === 'dark' || (!('theme' in localStorage) &&
      window.matchMedia('(prefers-color-scheme: dark)').matches)) {\n            document.documentElement.classList.remove('light')\n
      \           document.documentElement.classList.add('dark')\n        }\n    </script>\n<link
      rel=\"stylesheet\" href=\"/static/site/build/assets/site.07c2c349.css\" />\n</head>\n<body
      class=\"antialiased h-screen bg-background text-primary\">\n<header class=\"py-2
      border-border border-b\">\n<div class=\"container\">\n<div class=\"flex items-start
      lg:items-center justify-between\">\n<div class=\"flex flex-col lg:flex-row lg:items-center\">\n<div
      class=\"flex items-center\">\n<button id=\"js-nav-menu-btn\" class=\"lg:hidden
      flex items-center justify-center relative p-2 hover:bg-card mr-2 rounded\" type=\"button\"
      aria-label=\"Toggle navigation\" aria-expanded=\"false\">\n<svg class=\"fill-current
      text-color-header-text h-6 w-6\" height=\"24\" width=\"24\" xmlns=\"http://www.w3.org/2000/svg\"
      fill=\"none\" viewbox=\"0 0 24 24\" stroke=\"currentColor\">\n<path stroke-linecap=\"round\"
      stroke-linejoin=\"round\" stroke-width=\"2\" d=\"M4 6h16M4 12h16M4 18h16\" />\n</svg>\n</button>\n<a
      href=\"/\">\n<svg width=\"140\" viewbox=\"0 0 86 19\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n<path
      class=\"text-primary fill-current\" d=\"M2.582 7.134L2.762 8.376C3.062 7.86
      3.446 7.458 3.914 7.17C4.394 6.882 4.958 6.738 5.606 6.738C6.242 6.738 6.77
      6.87 7.19 7.134C7.622 7.386 7.904 7.77 8.036 8.286C8.36 7.818 8.75 7.446 9.206
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://mangapill.com/quick-search?q=one-punch-man
  response:
    content: "\n    <div class=\"grid gap-3\">\n        \n            <a class=\"grid-cols-1
      bg-card rounded p-3\" href=\"/manga/3262/one-punch-man\">\n                <div
      class=\"flex\">\n                    <div class=\"flex-none h-20 w-20\">\n                        <img
      class=\"h-full w-full lazy object-cover rounded\" src=\"https://cdn.readdetective[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://mangapill.com/manga/3262/one-punch-man
  response:
    content: "\n    <!DOCTYPE html>\n<html lang=\"en\" class=\"light\">\n<head>\n<meta
      charset=\"utf-8\">\n<title>One-Punch Man Manga - Mangapill</title>\n<meta name=\"viewport\"
      content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n<meta name=\"google-site-verification\"
      content=\"TcMX33ZE4j94dsbIPBpQdv4Tzfd5xrmiNFBBUMuqfeQ\" />\n<meta property[...]
