interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://toonily.net/manga/tales-of-demons-and-gods/
  response:
    content: "<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n<meta charset=\"UTF-8\">\n<meta
      name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"profile\"
      href=\"https://gmpg.org/xfn/11\">\n<link rel=\"pingback\" href=\"https://toonily.net/xmlrpc.php\">\n<meta
      name='robots' content='index, follow, max-image-preview:large, max-snippet:-1,
      max-video-preview:-1' />\n\n<title>Read Tales of Demons and Gods Manga English
      Translated - Toonily.net</title>\n<meta name=\"description\" content=\"Nie Li
      became the strongest Demon Spiritualist and stood at the pinnacle of the martial
      world. However, he lost his life during the battle with the\" />\n<link rel=\"canonical\"
      href=\"https://toonily.net/manga/tales-of-demons-and-gods/\" />\n<meta property=\"og:locale\"
      content=\"en_US\" />\n<meta property=\"og:type\" content=\"article\" />\n<meta
    [...]
